{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_list_instance.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_instance.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list_instance.pk %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list_instance.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' item.pk %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
